# Sensitive data
keystore.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Local config
instance/

